@font-face {
    font-family: "SF-Regular";
    src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),  
        url('../fonts/SFUIDisplay-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
   font-family: "TT-Bold"; 
    src: url('../fonts/TTHoves-Bold.woff2') format('woff2'),  
        url('../fonts/TTHoves-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: "TT-Regular";
    src: url('../fonts/TTHoves-Regular.woff2') format('woff2'),  
        url('../fonts/TTHoves-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: "TT-Light";
    src: url('../fonts/TTHoves-Light.woff2') format('woff2'),  
        url('../fonts/TTHoves-Light.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: "TT-Medium";
    src: url('../fonts/TTHoves-Medium.woff2') format('woff2'),  
        url('../fonts/TTHoves-Medium.woff') format('woff');
    font-display: swap;
}



